@page { 
    size: 210mm 297mm; 
    margin: 0;
}
body {
	font-size: 15px;
	line-height: 1.8;
	page-break-inside: avoid;
}
* {
	box-sizing: border-box !important;
	background: #FFF !important;
	color: #000 !important;
}
.animate {
	display: block !important;
	opacity: 1 !important;
}
.mainHeader, .btSidebar, .btSearchInner, .btAltLogo, .btVerticalHeaderTop, .slick-arrow, .slick-dots {
	display: none !important;
	opacity: 0 !important;
	visibility: hidden !important;
}
.bt_bb_section[style*="background-image"] {
	background: #FFF !important;
}
.bt_bb_section:before {
	display: none !important;
}
a {
	text-decoration: none !important;
	color: #000 !important;
}
.bt_bb_icon_holder:before, .bt_bb_icon_holder {
	background: transparent !important;
	box-shadow: none !important;
	color: #000 !important;
}
.bt_bb_button a, .bt_bb_button a span {
	background: #FFF !important;
	color: #000 !important;
	box-shadow: none !important;
	border: 2px solid #000 !important;
}
.bt_bb_button a span {
	border: 0 !important;
}
.bt_bb_color_scheme_9.bt_bb_icon a {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_icon:hover a {
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_outline .bt_bb_icon_holder:before {
	background-color: transparent;
	box-shadow: 0 0 0 2px #191919 inset;
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_outline:hover a.bt_bb_icon_holder:before {
	background-color: #191919;
	box-shadow: 0 0 0 1em #191919 inset;
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_filled .bt_bb_icon_holder:before {
	box-shadow: 0 0 0 1em #323743 inset;
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_filled:hover a.bt_bb_icon_holder:before {
	box-shadow: 0 0 0 2px #323743 inset;
	background-color: #191919;
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_borderless .bt_bb_icon_holder:before {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_borderless:hover a.bt_bb_icon_holder:before,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_borderless:hover a:hover,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_borderless:hover a.bt_bb_icon_holder>span {
	color: #323743;
}

.bt_bb_colored_icon_color_scheme_9.bt_bb_icon .bt_bb_icon_colored_icon svg .cls-2 {
	fill: #191919;
}

.bt_bb_colored_icon_color_scheme_9.bt_bb_icon .bt_bb_icon_colored_icon svg .cls-1 {
	fill: #323743;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right .bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left .bt_bb_icon_holder {
	background-color: transparent;
	box-shadow: 0 0 0 2px #191919 inset !important;
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right:hover a.bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left:hover a.bt_bb_icon_holder {
	background-color: #191919;
	box-shadow: 0 0 0 5em #191919 inset !important;
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right .bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left .bt_bb_icon_holder {
	box-shadow: 0 0 0 5em #323743 inset !important;
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right:hover a.bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left:hover a.bt_bb_icon_holder {
	box-shadow: 0 0 0 2px #323743 inset !important;
	background-color: #191919;
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_outline {
	border: 0;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_outline a {
	box-shadow: 0 0 0 2px #191919 inset, 0 4px 0 0 rgba(24, 24, 24, .15) inset;
	background-color: transparent;
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_outline:hover a,
.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_outline:hover a:hover {
	box-shadow: 0 0 0 2px #191919 inset, 0 5px 0 0 rgba(24, 24, 24, .15) inset, 0 3px 10px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_filled {
	border: 0;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_filled a {
	background-color: #323743;
	color: #191919;
	box-shadow: 0 -2px 0 0 rgba(24, 24, 24, .15) inset;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_filled:hover a,
.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_filled a:hover {
	background-color: #323743;
	color: #191919;
	box-shadow: 0 -3px 0 0 rgba(24, 24, 24, .15) inset, 0 3px 10px rgba(0, 0, 0, 0.3);
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_clean a,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_borderless a {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_clean:hover a,
.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_clean a:hover,
.bt_bb_color_scheme_9.bt_bb_icon.bt_bb_style_borderless:hover a {
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_lined a {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_lined a:after {
	background: #323743;
}

.bt_bb_color_scheme_9.bt_bb_button.bt_bb_style_lined a:hover {
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_style_outline.bt_bb_service .bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_style_outline.bt_bb_service:hover .bt_bb_icon_holder {
	box-shadow: 0 0 0 2px #191919 inset;
	color: #191919;
	background-color: transparent;
}

.bt_bb_color_scheme_9.bt_bb_style_outline.bt_bb_service:hover a.bt_bb_icon_holder:hover {
	box-shadow: 0 0 0 1em #191919 inset;
	background-color: #191919;
	color: #323743 !important;
}

.bt_bb_color_scheme_9.bt_bb_style_filled.bt_bb_service .bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_style_filled.bt_bb_service:hover .bt_bb_icon_holder {
	box-shadow: 0 0 0 1em #323743 inset;
	color: #191919;
	background-color: transparent;
}

.bt_bb_color_scheme_9.bt_bb_style_filled.bt_bb_service:hover a.bt_bb_icon_holder:hover {
	box-shadow: 0 0 0 2px #323743 inset;
	background-color: transparent;
	color: #323743 !important;
}

.bt_bb_color_scheme_9.bt_bb_style_borderless.bt_bb_service .bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_style_borderless.bt_bb_service:hover .bt_bb_icon_holder {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_style_borderless.bt_bb_service:hover a.bt_bb_icon_holder:hover {
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_headline {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_headline .bt_bb_headline_superheadline {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_price_list {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_price_list_price,
.bt_bb_color_scheme_9.bt_bb_price_list ul li:before {
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline .bt_bb_icon_holder:before {
	box-shadow: 0 0 0 2px #323743 inset;
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled .bt_bb_icon_holder:before {
	box-shadow: 0 0 0 2em #323743 inset;
	color: #FFF;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_borderless .bt_bb_icon_holder:before {
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left .bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right .bt_bb_icon_holder {
	box-shadow: 0 0 0 2px #323743 inset !important;
	color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left .bt_bb_icon_holder:before,
.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right .bt_bb_icon_holder:before {
	color: currentColor;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left .bt_bb_icon_holder,
.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right .bt_bb_icon_holder {
	box-shadow: 0 0 0 4.5em #323743 inset !important;
	color: #FFF;
}

.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left .bt_bb_icon_holder:before,
.bt_bb_color_scheme_9.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right .bt_bb_icon_holder:before {
	color: currentColor;
}

.bt_bb_section.bt_bb_color_scheme_9 {
	color: #191919;
	background-color: #323743;
}

.bt_bb_color_scheme_9 .bt_bb_latest_posts .bt_bb_latest_posts_item .bt_bb_latest_posts_title_excerpt_holder:before {
	background-color: #323743 !important;
}

.bt_bb_color_scheme_9 .bt_bb_masonry_post_grid .bt_bb_grid_item_post_content:before,
.bt_bb_color_scheme_9 .bt_bb_masonry_portfolio_grid .bt_bb_grid_item_post_content:before {
	background-color: #323743 !important;
}

.bt_bb_color_scheme_9 .bt_bb_google_maps.bt_bb_google_maps_with_content .bt_bb_google_maps_content .bt_bb_google_maps_content_wrapper .bt_bb_google_maps_location {
	background-color: #323743;
	color: #191919;
}

.bt_bb_color_scheme_9 .btWorkingHours .bt_bb_working_hours_inner_row:after {
	border-color: #191919 !important;
}

.bt_bb_color_scheme_9 .bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item .bt_bb_accordion_item_title:after,
.bt_bb_color_scheme_9.bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item .bt_bb_accordion_item_title:after {
	background-color: #191919;
}

.bt_bb_color_scheme_9 .bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item.on .bt_bb_accordion_item_title:after,
.bt_bb_color_scheme_9.bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item.on .bt_bb_accordion_item_title:after {
	background-color: #323743;
}

.bt_bb_color_scheme_9.bt_bb_progress_bar.bt_bb_style_line .bt_bb_progress_bar_inner {
	color: currentColor;
}

.bt_bb_color_scheme_9.bt_bb_progress_bar.bt_bb_style_line .bt_bb_progress_bar_inner .bt_bb_progress_bar_percent {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_splitted_headline .bt_bb_splitted_headline_first,
.bt_bb_color_scheme_9.bt_bb_splitted_headline .bt_bb_splitted_headline_second {
	color: #191919;
}

.bt_bb_color_scheme_9.bt_bb_splitted_headline .bt_bb_splitted_headline_line {
	background-color: #323743;
}

.bt_bb_colored_icon_color_scheme_9.bt_bb_service .bt_bb_service_colored_icon svg .cls-2 {
	fill: #191919;
}

.bt_bb_colored_icon_color_scheme_9.bt_bb_service .bt_bb_service_colored_icon svg .cls-1 {
	fill: #323743;
}
.bt_bb_color_scheme_12.bt_bb_icon a {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_icon:hover a {
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_outline .bt_bb_icon_holder:before {
	background-color: transparent;
	box-shadow: 0 0 0 2px #181818 inset;
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_outline:hover a.bt_bb_icon_holder:before {
	background-color: #181818;
	box-shadow: 0 0 0 1em #181818 inset;
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_filled .bt_bb_icon_holder:before {
	box-shadow: 0 0 0 1em #efefef inset;
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_filled:hover a.bt_bb_icon_holder:before {
	box-shadow: 0 0 0 2px #efefef inset;
	background-color: #181818;
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_borderless .bt_bb_icon_holder:before {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_borderless:hover a.bt_bb_icon_holder:before,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_borderless:hover a:hover,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_borderless:hover a.bt_bb_icon_holder>span {
	color: #efefef;
}

.bt_bb_colored_icon_color_scheme_12.bt_bb_icon .bt_bb_icon_colored_icon svg .cls-2 {
	fill: #181818;
}

.bt_bb_colored_icon_color_scheme_12.bt_bb_icon .bt_bb_icon_colored_icon svg .cls-1 {
	fill: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right .bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left .bt_bb_icon_holder {
	background-color: transparent;
	box-shadow: 0 0 0 2px #181818 inset !important;
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right:hover a.bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left:hover a.bt_bb_icon_holder {
	background-color: #181818;
	box-shadow: 0 0 0 5em #181818 inset !important;
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right .bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left .bt_bb_icon_holder {
	box-shadow: 0 0 0 5em #efefef inset !important;
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right:hover a.bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left:hover a.bt_bb_icon_holder {
	box-shadow: 0 0 0 2px #efefef inset !important;
	background-color: #181818;
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_outline {
	border: 0;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_outline a {
	box-shadow: 0 0 0 2px #181818 inset, 0 4px 0 0 rgba(24, 24, 24, .15) inset;
	background-color: transparent;
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_outline:hover a,
.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_outline:hover a:hover {
	box-shadow: 0 0 0 2px #181818 inset, 0 5px 0 0 rgba(24, 24, 24, .15) inset, 0 3px 10px rgba(0, 0, 0, 0.3);
	background-color: transparent;
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_filled {
	border: 0;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_filled a {
	background-color: #efefef;
	color: #181818;
	box-shadow: 0 -2px 0 0 rgba(24, 24, 24, .15) inset;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_filled:hover a,
.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_filled a:hover {
	background-color: #efefef;
	color: #181818;
	box-shadow: 0 -3px 0 0 rgba(24, 24, 24, .15) inset, 0 3px 10px rgba(0, 0, 0, 0.3);
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_clean a,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_borderless a {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_clean:hover a,
.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_clean a:hover,
.bt_bb_color_scheme_12.bt_bb_icon.bt_bb_style_borderless:hover a {
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_lined a {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_lined a:after {
	background: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_button.bt_bb_style_lined a:hover {
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_style_outline.bt_bb_service .bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_style_outline.bt_bb_service:hover .bt_bb_icon_holder {
	box-shadow: 0 0 0 2px #181818 inset;
	color: #181818;
	background-color: transparent;
}

.bt_bb_color_scheme_12.bt_bb_style_outline.bt_bb_service:hover a.bt_bb_icon_holder:hover {
	box-shadow: 0 0 0 1em #181818 inset;
	background-color: #181818;
	color: #efefef !important;
}

.bt_bb_color_scheme_12.bt_bb_style_filled.bt_bb_service .bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_style_filled.bt_bb_service:hover .bt_bb_icon_holder {
	box-shadow: 0 0 0 1em #efefef inset;
	color: #181818;
	background-color: transparent;
}

.bt_bb_color_scheme_12.bt_bb_style_filled.bt_bb_service:hover a.bt_bb_icon_holder:hover {
	box-shadow: 0 0 0 2px #efefef inset;
	background-color: transparent;
	color: #efefef !important;
}

.bt_bb_color_scheme_12.bt_bb_style_borderless.bt_bb_service .bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_style_borderless.bt_bb_service:hover .bt_bb_icon_holder {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_style_borderless.bt_bb_service:hover a.bt_bb_icon_holder:hover {
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_headline {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_headline .bt_bb_headline_superheadline {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_price_list {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_price_list_price,
.bt_bb_color_scheme_12.bt_bb_price_list ul li:before {
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline .bt_bb_icon_holder:before {
	box-shadow: 0 0 0 2px #efefef inset;
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled .bt_bb_icon_holder:before {
	box-shadow: 0 0 0 2em #efefef inset;
	color: #FFF;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_borderless .bt_bb_icon_holder:before {
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left .bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right .bt_bb_icon_holder {
	box-shadow: 0 0 0 2px #efefef inset !important;
	color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_left .bt_bb_icon_holder:before,
.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_outline.bt_bb_shape_slanted_right .bt_bb_icon_holder:before {
	color: currentColor;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left .bt_bb_icon_holder,
.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right .bt_bb_icon_holder {
	box-shadow: 0 0 0 4.5em #efefef inset !important;
	color: #FFF;
}

.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_left .bt_bb_icon_holder:before,
.bt_bb_color_scheme_12.bt_bb_price_list .bt_bb_icon.bt_bb_style_filled.bt_bb_shape_slanted_right .bt_bb_icon_holder:before {
	color: currentColor;
}

.bt_bb_section.bt_bb_color_scheme_12 {
	color: #181818;
	background-color: #efefef;
}

.bt_bb_color_scheme_12 .bt_bb_latest_posts .bt_bb_latest_posts_item .bt_bb_latest_posts_title_excerpt_holder:before {
	background-color: #efefef !important;
}

.bt_bb_color_scheme_12 .bt_bb_masonry_post_grid .bt_bb_grid_item_post_content:before,
.bt_bb_color_scheme_12 .bt_bb_masonry_portfolio_grid .bt_bb_grid_item_post_content:before {
	background-color: #efefef !important;
}

.bt_bb_color_scheme_12 .bt_bb_google_maps.bt_bb_google_maps_with_content .bt_bb_google_maps_content .bt_bb_google_maps_content_wrapper .bt_bb_google_maps_location {
	background-color: #efefef;
	color: #181818;
}

.bt_bb_color_scheme_12 .btWorkingHours .bt_bb_working_hours_inner_row:after {
	border-color: #181818 !important;
}

.bt_bb_color_scheme_12 .bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item .bt_bb_accordion_item_title:after,
.bt_bb_color_scheme_12.bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item .bt_bb_accordion_item_title:after {
	background-color: #181818;
}

.bt_bb_color_scheme_12 .bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item.on .bt_bb_accordion_item_title:after,
.bt_bb_color_scheme_12.bt_bb_accordion.bt_bb_style_simple .bt_bb_accordion_item.on .bt_bb_accordion_item_title:after {
	background-color: #efefef;
}

.bt_bb_color_scheme_12.bt_bb_progress_bar.bt_bb_style_line .bt_bb_progress_bar_inner {
	color: currentColor;
}

.bt_bb_color_scheme_12.bt_bb_progress_bar.bt_bb_style_line .bt_bb_progress_bar_inner .bt_bb_progress_bar_percent {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_splitted_headline .bt_bb_splitted_headline_first,
.bt_bb_color_scheme_12.bt_bb_splitted_headline .bt_bb_splitted_headline_second {
	color: #181818;
}

.bt_bb_color_scheme_12.bt_bb_splitted_headline .bt_bb_splitted_headline_line {
	background-color: #efefef;
}

.bt_bb_colored_icon_color_scheme_12.bt_bb_service .bt_bb_service_colored_icon svg .cls-2 {
	fill: #181818;
}

.bt_bb_colored_icon_color_scheme_12.bt_bb_service .bt_bb_service_colored_icon svg .cls-1 {
	fill: #efefef;
}